@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a,
input,
textarea,
button {
  outline: none;
}
button {
  cursor: pointer;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mt_10 {
  margin-top: -10px;
}
.mt_20 {
  margin-top: -20px;
}
.mt_30 {
  margin-top: -30px;
}
.mt_40 {
  margin-top: -40px;
}
.mt_50 {
  margin-top: -50px;
}
.mt_60 {
  margin-top: -60px;
}
.mt_70 {
  margin-top: -70px;
}
.mt_80 {
  margin-top: -80px;
}
.mt_90 {
  margin-top: -90px;
}
.mt_100 {
  margin-top: -100px;
}
.mt_150 {
  margin-top: -150px;
}
.linha15 {
  line-height: 20px;
}
.linha20 {
  line-height: 20px;
}
.linha25 {
  line-height: 20px;
}
.linha30 {
  line-height: 20px;
}
.linha35 {
  line-height: 20px;
}
.linha40 {
  line-height: 20px;
}
.lh-15 {
  line-height: 15px;
}
.lh-20 {
  line-height: 20px;
}
.lh-25 {
  line-height: 25px;
}
.lh-30 {
  line-height: 30px;
}
.lh-35 {
  line-height: 35px;
}
.lh-35 {
  line-height: 40px;
}
html,
body {
  font-size: 14px;
  color: #111;
  background: #F2F3F4;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1688px;
  margin: 0 auto;
  padding: 0;
}
